<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Form for user's Registration </title>

</head>
<body>

<div class="container">
    <h2>Form for user's Registration</h2>
    <form action="#" method="post">
        <label for="Name">Name</label>
        <input type="text" id="Name" name="Name" required>
       
        <label for="email">Email</label>
        <input type="email" id="email" name="email" required>
       
        <label for="password">Password</label>
        <input type="password" id="password" name="password" required>
        <form>
            <h3>Gender</h3>
            <label>
              <input type="radio" name="gender" value="male" checked>
              Male
            </label>
           <label>
              <input type="radio" name="gender" value="female">
              Female
             </label>
             </form>
             <form>
                <label>
                    <h3>skills you are interested in</h3>
                  <input type="checkbox" name="fruit" value="apple" checked>
                  Fullstack
                </label>
             
                <label>
                  <input type="checkbox" name="fruit" value="banana">
                  Java
                </label>
            
                <label>
                  <input type="checkbox" name="fruit" value="orange">
                  Mobile app development
                </label>
              </form>
              
       
        <input type="submit" value="Click here to Submit">
    </form>
</div>

</body>
</html>

```