<h2>Mistake I made and what I learned</h2>
<h3>Sales representative</h3>
<p>
    I've found that over the years, making mistakes has taught me a lot. One mistake that helped me grow the most is when I wasn't meeting my sales numbers when I first started my career. Instead of feeling discouraged, I asked my manager for some advice. He told me that the number-one mistake I was making was not following up with customers enough. Sure enough, when I followed his advice, my numbers doubled. This experience taught me the importance of nurturing leads and that I always have room for improvement.
</p>